{% extends 'blog/base.html' %}
{% load static %}

{% block customHeaderLibre %}
    <link href="{% static 'node_modules/grapesjs/dist/css/grapes.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'node_modules/grapesjs/dist/grapes.min.js' %}  "></script>
    <style>

        /* Let's highlight canvas boundaries */
        #gjs {
            border: 3px solid #444;
            font-family: 'VazirWebWeb' !important;
        }

        /* Reset some default styling */
        .gjs-cv-canvas {
            top: 0;
            width: 100%;
            height: 100%;
        }

        .gjs-block {
            width: auto;
            height: auto;
            min-height: auto;
            font-family: 'VazirWebWeb' !important;
            text-align: right !important;
        }

        .gjs-block-section {
            font-family: 'VazirWebWeb' !important;
            text-align: right !important;
        }

        b {
            font-family: 'VazirWebWeb' !important;
            text-align: right !important;
        }

        h1 {
            text-align: right !important;
            font-family: 'VazirWebWeb' !important;
        }

        .customHeaderBlock {
            text-align: right !important;
        }

        .panel__top {
            padding: 0;
            width: 100%;
            display: flex;
            position: initial;
            justify-content: center;
            justify-content: space-between;
        }

        .panel__basic-actions {
            position: initial;
        }

        .editor-row {
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            flex-wrap: nowrap;

        }

        .editor-canvas {
            flex-grow: 1;
        }

        .panel__right {
            flex-basis: 230px;

            position: relative;
            overflow-y: auto;
        }

        .panel__switcher {
            position: initial;
        }

        .panel__devices {
            position: initial;
        }

    </style>
{% endblock %}

{% block content %}


    <div dir="ltr">

        <div class="panel__top">
            <div class="panel__basic-actions"></div>
            <div class="panel__devices"></div>
            <div class="panel__switcher"></div>

        </div>
        <div class="editor-row">
            <div class="editor-canvas">
                <div id="gjs">
                    <h1 style="text-align: right">به ویرایشگر خوش آمدید جهت مشاهده ی بلاک ها به پایین صفحه مراجعه
                        کنید</h1>
                </div>
            </div>
            <div class="panel__right">
                <div class="layers-container"></div>
                <div class="styles-container"></div>
                <div class="traits-container"></div>
            </div>
        </div>
        <div id="blocks"></div>


    </div>




{% endblock %}


{% block customFooterLibre %}

    <script>

        const editor = grapesjs.init({
            // Indicate where to init the editor. You can also pass an HTMLElement
            container: '#gjs',
            // Get the content for the canvas directly from the element
            // As an alternative we could use: `components: '<h1>Hello World Component!</h1>'`,
            fromElement: true,
            // Size of the editor


            storageManager: {
                id: 'gjs-',             // Prefix identifier that will be used inside storing and loading
                type: 'local',          // Type of the storage
                autosave: true,         // Store data automatically
                autoload: true,         // Autoload stored data on init
                stepsBeforeSave: 1,     // If autosave enabled, indicates how many changes are necessary before store method is triggered
                storeComponents: true,  // Enable/Disable storing of components in JSON format
                storeStyles: true,      // Enable/Disable storing of rules in JSON format
                storeHtml: true,        // Enable/Disable storing of components as HTML string
                storeCss: true,         // Enable/Disable storing of rules as CSS string
            },

            // Disable the storage manager for the moment

            // Avoid any default panel

            deviceManager: {
                devices: [{
                    name: 'Desktop',
                    width: '', // default size
                }, {
                    name: 'Mobile',
                    width: '320px', // this value will be used on canvas width
                    widthMedia: '480px', // this value will be used in CSS @media
                }],
            },

            blockManager: {
                appendTo: '#blocks',
                blocks: [
                    {
                        id: 'section', // id is mandatory
                        label: '<b>سکشن</b>', // You can use HTML/SVG inside labels
                        attributes: {class: 'gjs-block-section customHeaderBlock'},
                        content: `<section>
          <h1 style="text-align: right!important;">این یک سرتیتر است</h1>
          <div style="text-align: right!important;">محل قرار گرفتن پاراگراف</div>
        </section>`,
                    }, {
                        id: 'text',
                        label: '<b>متن</b>',
                        content: '<div  style="text-align: right!important;" data-gjs-type="text">متن خود را در اینجا بنویسید</div>',
                    }, {
                        id: 'image',
                        label: '<b>عکس</b>',
                        // Select the component once it's dropped
                        select: true,
                        // You can pass components as a JSON instead of a simple HTML string,
                        // in this case we also use a defined component type `image`
                        content: {type: 'image'},
                        // This triggers `active` event on dropped components and the `image`
                        // reacts by opening the AssetManager
                        activate: true,
                    }
                ]
            },
            layerManager: {
                appendTo: '.layers-container'
            },

            panels: {
                defaults: [
                    // ...
                    {
                        id: 'panel-switcher',
                        el: '.panel__switcher',
                        buttons: [{
                            id: 'show-layers',
                            active: true,
                            label: 'Layers',
                            command: 'show-layers',
                            // Once activated disable the possibility to turn it off
                            togglable: false,
                        }, {
                            id: 'show-style',
                            active: true,
                            label: 'Styles',
                            command: 'show-styles',
                            togglable: false,
                        }],
                    },
                    {
                        id: 'panel-switcher',
                        el: '.panel__switcher',
                        buttons: [
                            // ...
                            {
                                id: 'show-traits',
                                active: true,
                                label: 'Traits',
                                command: 'show-traits',
                                togglable: false,
                            }
                        ]
                    },
                    {
                        id: 'panel-devices',
                        el: '.panel__devices',
                        buttons: [{
                            id: 'device-desktop',
                            label: 'D',
                            command: 'set-device-desktop',
                            active: true,
                            togglable: false,
                        }, {
                            id: 'device-mobile',
                            label: 'M',
                            command: 'set-device-mobile',
                            togglable: false,
                        }],
                    },
                ],
            },


            // The Selector Manager allows to assign classes and
            // different states (eg. :hover) on components.
            // Generally, it's used in conjunction with Style Manager
            // but it's not mandatory
            selectorManager: {
                appendTo: '.styles-container'
            },

            traitManager: {
                appendTo: '.traits-container',
            },

            styleManager: {
                appendTo: '.styles-container',
                sectors: [{
                    name: 'Dimension',
                    open: false,
                    // Use built-in properties
                    buildProps: ['width', 'min-height', 'padding'],
                    // Use `properties` to define/override single property
                    properties: [
                        {
                            // Type of the input,
                            // options: integer | radio | select | color | slider | file | composite | stack
                            type: 'integer',
                            name: 'The width', // Label for the property
                            property: 'width', // CSS property (if buildProps contains it will be extended)
                            units: ['px', '%'], // Units, available only for 'integer' types
                            defaults: 'auto', // Default value
                            min: 0, // Min value, available only for 'integer' types
                        }
                    ]
                }, {
                    name: 'Extra',
                    open: false,
                    buildProps: ['background-color', 'box-shadow', 'custom-prop'],
                    properties: [
                        {
                            id: 'custom-prop',
                            name: 'Custom Label',
                            property: 'font-size',
                            type: 'select',
                            defaults: '32px',
                            // List of options, available only for 'select' and 'radio'  types
                            options: [
                                {value: '12px', name: 'Tiny'},
                                {value: '18px', name: 'Medium'},
                                {value: '32px', name: 'Big'},
                            ],
                        }
                    ]
                }]
            },


        });
        editor.BlockManager.add('my-block-id', {
            // ...
            content: {
                tagName: 'div',
                draggable: false,
                attributes: {'some-attribute': 'some-value'},
                components: [
                    {
                        tagName: 'span',
                        content: '<b>Some static content</b>',
                    }, {
                        tagName: 'div',
                        // use `content` for static strings, `components` string will be parsed
                        // and transformed in Components
                        components: '<span>HTML at some point</span>',
                    }
                ]
            }
        })
        editor.Panels.addPanel({
            id: 'panel-top',
            el: '.panel__top',
        });
        editor.Panels.addPanel({
            id: 'basic-actions',
            el: '.panel__basic-actions',
            buttons: [
                {
                    id: 'visibility',
                    active: true, // active by default
                    className: 'btn-toggle-borders',
                    label: '<u>B</u>',
                    command: 'sw-visibility', // Built-in command
                }, {
                    id: 'export',
                    className: 'btn-open-export',
                    label: 'Exp',
                    command: 'export-template',
                    context: 'export-template', // For grouping context of buttons from the same panel
                }, {
                    id: 'show-json',
                    className: 'btn-show-json',
                    label: 'JSON',
                    context: 'show-json',
                    command(editor) {
                        editor.Modal.setTitle('Components JSON')
                            .setContent(`<textarea style="width:100%; height: 250px;">
            ${JSON.stringify(editor.getComponents())}
          </textarea>`)
                            .open();
                    },
                }
            ],
        });
        editor.on('run:export-template:before', opts => {
            console.log('Before the command run');
            if (0 /* some condition */) {
                opts.abort = 1;
            }
        });
        editor.on('run:export-template', () => console.log('After the command run'));
        editor.on('abort:export-template', () => console.log('Command aborted'));

        // Define commands
        editor.Commands.add('show-layers', {
            getRowEl(editor) {
                return editor.getContainer().closest('.editor-row');
            },
            getLayersEl(row) {
                return row.querySelector('.layers-container')
            },

            run(editor, sender) {
                const lmEl = this.getLayersEl(this.getRowEl(editor));
                lmEl.style.display = '';
            },
            stop(editor, sender) {
                const lmEl = this.getLayersEl(this.getRowEl(editor));
                lmEl.style.display = 'none';
            },
        });
        editor.Commands.add('show-styles', {
            getRowEl(editor) {
                return editor.getContainer().closest('.editor-row');
            },
            getStyleEl(row) {
                return row.querySelector('.styles-container')
            },

            run(editor, sender) {
                const smEl = this.getStyleEl(this.getRowEl(editor));
                smEl.style.display = '';
            },
            stop(editor, sender) {
                const smEl = this.getStyleEl(this.getRowEl(editor));
                smEl.style.display = 'none';
            },
        });

        editor.Commands.add('show-traits', {
            getTraitsEl(editor) {
                const row = editor.getContainer().closest('.editor-row');
                return row.querySelector('.traits-container');
            },
            run(editor, sender) {
                this.getTraitsEl(editor).style.display = '';
            },
            stop(editor, sender) {
                this.getTraitsEl(editor).style.display = 'none';
            },
        });

        // Commands
        editor.Commands.add('set-device-desktop', {
            run: editor => editor.setDevice('Desktop')
        });
        editor.Commands.add('set-device-mobile', {
            run: editor => editor.setDevice('Mobile')
        });

    </script>

{% endblock %}