{% extends "blog/base.html" %}
{% load jformat %}

{% block content %}


    <!-- Slider  -->


    <div class="mb-3">
        {% include  "blog/slider.html"   with sliders=sliders %}
    </div>


    <!-- End Slider -->

    {% for post in posts %}




        <article class="media content-section">

            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <span>نویسنده : </span> <a class="mr-2"
                                               href="{% url 'user_posts' post.author.username %}">{{ post.author }} </a>
                    <h6 class="text-muted"> منتشر شده در
                        {{ post.date_posted|jformat:"%H:%M  -   %Y/%m/%d" }} </h6>
                </div>
                <img style="margin-bottom: 10px " class="img-fluid rounded" src="/media/{{ post.previewImage }}">

                <h2 class="mt-3"><a class="article-title" href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
                </h2>
                <p class="article-content">{{ post.previewText|safe }}</p>
            </div>
        </article>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">اولین</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">قبلی</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">بعدی</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">آخرین</a>
        {% endif %}
    {% endif %}
{% endblock content %}


{% block customFooterLibre %}

    {% if popup %}

        <script>

            Swal.fire({
                title: '<strong>{{ popup.title }}</strong>',
                icon: '{{ popup.icon }}',
                html: '{{ popup.messages | safe }}',
                showCloseButton: true,
                showCancelButton: false,
                focusConfirm: false,
                showConfirmButton: false,

            });

        </script>

    {% endif %}

{% endblock %}