{% extends "blog/base.html" %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">همین امروز به ما بپیوندید</legend>
                {% bootstrap_form form %}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary m-3" type="submit">ثبت نام</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                اکانت فعال دارید؟ <a class="ml-2" href="{% url 'login' %}">ورود</a>
            </small>
        </div>
    </div>
{% endblock content %}